doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js')
    link(href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css', rel='stylesheet')
    style.
      body { margin:0; padding:0; }
      #map { position:absolute; top:0; bottom:0; left:0; width:70%;}
      #menu { position:absolute; top:0; bottom:0; right:0; width:30%}
    script(type='text/javascript').
      vratData = function (url) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (xhttp.readyState == 4 && xhttp.status == 200) {
            var jsonData = JSON.parse(xhttp.responseText);
            console.dir(jsonData);
            if(typeof myLayer !== 'undefined') map.removeLayer(myLayer);
            myLayer = L.mapbox.featureLayer().setGeoJSON(jsonData).addTo(map);
          }
        };
        xhttp.open("GET", url, true);
        xhttp.send();
      };
      
      selectData = function () {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (xhttp.readyState == 4 && xhttp.status == 200) {
            var jsonData = JSON.parse(xhttp.responseText);
            console.dir(jsonData);
            var sel = document.getElementById('closePharmacy');
            for (row in jsonData){
                console.log(jsonData[row]);
                var opt = document.createElement('option');
                opt.value = jsonData[row].osm_id;
                opt.innerHTML = jsonData[row].name;
                sel.appendChild(opt);
            }
          }
        };
        xhttp.open("GET", '/selectHospitals', true);
        xhttp.send();
      };
      
      nearPharmacy = function() {
          var sel = document.getElementById('closePharmacy').value;
          var num = document.getElementById('numberPharmacy').value;
          
          console.log(sel);
          console.log(num);
          
          vratData('/nearPharmacy?id='+sel+'&num='+num);
      }
      
      selectData();

  body
    block content
